@font-face {
  font-family: "Monarque";
  src: url(./assets/fonts/Monarque-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Vela Sans";
  src: url(./assets/fonts/VelaSans-GX.ttf) format("truetype");
}

.bg-image__texture-logo {
  background: url(./assets/images/bg_logo_texture.jpg) no-repeat center
    center/cover;
}

.bg-image__hair {
  background: url(./assets/images/hair_treatment.jpg) no-repeat center
    center/cover;
}

.bg-image__skincare {
  background: url(./assets/images/applying_cream.jpg) no-repeat center
    center/cover;
}

.bg-image__makeup {
  background: url(./assets/images/makeup.jpg) no-repeat center center/cover;
}

body {
  font-family: "Vela Sans";
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h6 {
  font-size: 1.25rem;
  font-weight: 400;
}

.button {
  text-align: center;
  padding: 0.5rem 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
  cursor: pointer;
}

.button--white {
  color: white;
  border-color: white;
}

.button--white:hover {
  color: black;
  background-color: white;
  border-color: white;
}

.button--black:hover {
  color: white;
  background-color: black;
  border-color: black;
}

.button--white:active {
  color: white;
  background-color: transparent;
  border-color: white;
}

.button--black:active {
  color: black;
  background-color: transparent;
  border-color: black;
}

.icon-button {
  width: min-content;
  cursor: pointer;
  display: block;
}

#burger {
  display: none;
}

main:has(#burger:checked) .burger {
  display: flex;
}

.burger {
  display: none;
  position: fixed;
  flex-direction: column;
  background-color: white;
  height: 100vh;
  width: 40vw;
  padding: 1rem;
}

.burger__close-wrapper {
  display: flex;
  justify-content: flex-end;
}

.burger__list {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.burger__buttons {
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.burger__socials {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.section {
  display: grid;
  grid-template-columns: repeat(12, 90px);
  column-gap: 30px;
  justify-content: center;
}

.section__title {
  grid-column: 1 / span 12;
  font-family: "Monarque";
  font-weight: 300;
  text-align: center;
}

.section__subtitle {
  grid-column: 1 / span 12;
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.section__name {
  grid-column: 1 / span 12;
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  text-align: center;
}

.section__button-wrapper {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: center;
}

.nav {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  height: 78px;
}

.nav > * {
  flex: 1 1 0;
}

.nav__list {
  display: flex;
  gap: 1.5rem;
}

.nav__burger-button-wrapper {
  display: none;
  justify-content: flex-start;
}

.nav__call-wrapper {
  display: none;
  justify-content: flex-end;
}

.nav__button-wrapper {
  display: flex;
  justify-content: flex-end;
}

.hero-section {
  background: url(./assets/images/frame.jpg) no-repeat center center/cover;
  height: 100vh;
  width: 100%;
  padding: 1rem 0;
  color: white;
  text-align: center;
  grid-template-rows: min-content;
}

.hero-section__content {
  grid-column: 1 / span 12;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}

.about-section {
  padding: 7.5rem 0;
  row-gap: 1.5rem;
}

.approach-section {
  background-color: rgb(245, 240, 234);
}

.approach-section__main-image {
  grid-column: 4 / span 6;
  border-radius: 1rem;
  margin-top: -60px;
  width: 100%;
  height: auto;
}

.approach-section__title {
  margin-top: 7.5rem;
}

.approach-section__subtitle {
  margin-top: 0.75rem;
}

.approach-section__points {
  grid-column: 2 / span 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 3.75rem;
}

.approach-section__point {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 1.5rem;
  color: rgb(53, 50, 51);
}

.approach-section__gallery {
  grid-column: 1 / span 12;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5rem 0;
}

.approach-section__images {
  display: flex;
  justify-content: center;
  width: 99vw;
  overflow: hidden;
}

.approach-section__images-wrapper {
  display: flex;
  align-items: center;
  width: max-content;
  gap: 75px;
}

.approach-section__image {
  width: 61.875rem;
}

.approach-section__pagination {
  font-size: 1.5rem;
  font-family: "Monarque";
  color: rgb(53, 50, 51);
  margin-top: 1.875rem;
}

.approach-section__pagination--active {
  color: rgba(92, 82, 74);
}

.services-section {
  row-gap: 3.125rem;
  padding: 7.5rem 0;
}

.services-section__title {
  grid-column: 1 / span 12;
  text-align: center;
}

.services-section__service {
  grid-column: span 4;
  height: 500px;
  border-radius: 1rem;
  padding: 1.5rem;
  font-size: 1.5rem;
  font-family: "Monarque";
  color: white;
}

.services-section__service sup {
  font-size: 0.75rem;
}

.products-section {
  background-color: rgb(245, 240, 234);
}

.products-section__text {
  grid-column: 1 / span 6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  padding: 7.5rem 4.375rem;
}

.products-section__icon {
  width: 9.375rem;
  height: 9.375rem;
}

.products-section__description {
  width: 70%;
  text-align: center;
}

.products-section__image {
  grid-column: 7 / span 6;
}

.offers-section {
  background-color: rgb(243, 243, 243);
  padding: 7.5rem 0;
  row-gap: 3.125rem;
}

.offers-section__card {
  grid-column: span 3;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.offers-section__card img {
  width: 100%;
  border-radius: 0.5rem;
}

.offers-section__card-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.offers-section__card-text p:first-of-type {
  margin-top: 0.25rem;
  color: rgba(53, 50, 51, 0.6);
}

.offers-section__card-text p:last-of-type {
  margin-top: 1rem;
}

.book-section {
  background: url(./assets/images/frame.jpg) no-repeat center center/cover;
  padding: 7.5rem 0;
}

.book-section__content {
  grid-column: 3 / span 8;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  padding: 7.5rem 0;
}

.footer {
  background-color: rgb(92, 82, 74);
  color: white;
  padding: 7.5rem 0 0;
  row-gap: 3.75rem;
}

.footer__logo {
  grid-column: 6 / span 2;
  height: 100px;
  width: 100%;
}

.footer__divider {
  grid-column: 1 / span 12;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.3);
}

.footer__title {
  font-family: "Monarque";
  font-size: 1.25rem;
  font-weight: 400;
}

.footer__content {
  grid-column: 1 / span 8;
  display: flex;
  justify-content: center;
  gap: 1.875rem;
}

.footer__content > div {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__details {
  font-weight: 300;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.footer__newsletter {
  grid-column: 9 / span 4;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer__form {
  display: flex;
  gap: 0.5rem;
}

.footer__form > input {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.footer__social {
  display: flex;
  gap: 1.5rem;
}

.footer__legal {
  grid-column: 1 / span 12;
  text-align: center;
  padding: 0.75rem 0;
  font-size: 0.875rem;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 300;
}

@keyframes jump-in {
  0% {
    transform: translateX(200px) translateY(-18px);
  }
  2% {
    transform: translateX(180px) translateY(-32px);
  }
  4% {
    transform: translateX(160px) translateY(-42px);
  }
  6% {
    transform: translateX(140px) translateY(-48px);
  }
  8% {
    transform: translateX(120px) translateY(-50px);
  }
  10% {
    transform: translateX(100px) translateY(-48px);
  }
  12% {
    transform: translateX(80px) translateY(-42px);
  }
  14% {
    transform: translateX(60px) translateY(-32px);
  }
  16% {
    transform: translateX(40px) translateY(-18px);
  }
  18% {
    transform: translateX(20px) translateY(0);
  }
  20% {
    transform: translateX(0) translateY(0);
  }
  22% {
    transform: translateX(-20px) translateY(-18px);
  }
  24% {
    transform: translateX(-40px) translateY(-32px);
  }
  26% {
    transform: translateX(-60px) translateY(-42px);
  }
  28% {
    transform: translateX(-80px) translateY(-48px);
  }
  30% {
    transform: translateX(-100px) translateY(-50px);
  }
  32% {
    transform: translateX(-120px) translateY(-48px);
  }
  34% {
    transform: translateX(-140px) translateY(-42px);
  }
  36% {
    transform: translateX(-160px) translateY(-32px);
  }
  38% {
    transform: translateX(-180px) translateY(-18px);
  }
  40% {
    transform: translateX(-200px) translateY(0);
  }
  42% {
    transform: translateX(-220px) translateY(-18px);
  }
  44% {
    transform: translateX(-240px) translateY(-32px);
  }
  46% {
    transform: translateX(-260px) translateY(-42px);
  }
  48% {
    transform: translateX(-280px) translateY(-48px);
  }
  50% {
    transform: translateX(-300px) translateY(-50px);
  }
  52% {
    transform: translateX(-320px) translateY(-48px);
  }
  54% {
    transform: translateX(-340px) translateY(-42px);
  }
  56% {
    transform: translateX(-360px) translateY(-32px);
  }
  58% {
    transform: translateX(-380px) translateY(-18px);
  }
  60% {
    transform: translateX(-400px) translateY(0);
  }
  62% {
    transform: translateX(-380px) translateY(-18px);
  }
  64% {
    transform: translateX(-360px) translateY(-32px);
  }
  66% {
    transform: translateX(-340px) translateY(-42px);
  }
  68% {
    transform: translateX(-320px) translateY(-48px);
  }
  70% {
    transform: translateX(-300px) translateY(-50px);
  }
  72% {
    transform: translateX(-280px) translateY(-48px);
  }
  74% {
    transform: translateX(-260px) translateY(-42px);
  }
  76% {
    transform: translateX(-240px) translateY(-32px);
  }
  78% {
    transform: translateX(-220px) translateY(-18px);
  }
  80% {
    transform: translateX(-200px) translateY(0);
  }
  82% {
    transform: translateX(-180px) translateY(-18px);
  }
  84% {
    transform: translateX(-160px) translateY(-32px);
  }
  86% {
    transform: translateX(-140px) translateY(-42px);
  }
  88% {
    transform: translateX(-120px) translateY(-48px);
  }
  90% {
    transform: translateX(-100px) translateY(-50px);
  }
  92% {
    transform: translateX(-80px) translateY(-48px);
  }
  94% {
    transform: translateX(-60px) translateY(-42px);
  }
  96% {
    transform: translateX(-40px) translateY(-32px);
  }
  98% {
    transform: translateX(-20px) translateY(-18px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes jump {
  0% {
    transform: translateX(0px) translateY(0);
  }
  5% {
    transform: translateX(-10px) translateY(-9px);
  }
  10% {
    transform: translateX(-20px) translateY(-16px);
  }
  15% {
    transform: translateX(-30px) translateY(-21px);
  }
  20% {
    transform: translateX(-40px) translateY(-24px);
  }
  25% {
    transform: translateX(-50px) translateY(-25px);
  }
  30% {
    transform: translateX(-60px) translateY(-24px);
  }
  35% {
    transform: translateX(-70px) translateY(-21px);
  }
  40% {
    transform: translateX(-80px) translateY(-16px);
  }
  45% {
    transform: translateX(-90px) translateY(-9px);
  }
  50% {
    transform: translateX(-100px) translateY(0);
  }
  55% {
    transform: translateX(-90px) translateY(-9px);
  }
  60% {
    transform: translateX(-80px) translateY(-16px);
  }
  65% {
    transform: translateX(-70px) translateY(-21px);
  }
  70% {
    transform: translateX(-60px) translateY(-24px);
  }
  75% {
    transform: translateX(-50px) translateY(-25px);
  }
  80% {
    transform: translateX(-40px) translateY(-24px);
  }
  85% {
    transform: translateX(-30px) translateY(-21px);
  }
  90% {
    transform: translateX(-20px) translateY(-16px);
  }
  95% {
    transform: translateX(-10px) translateY(-9px);
  }
  100% {
    transform: translateX(0px) translateY(0);
  }
}

.mascot {
  position: fixed;
  bottom: -5px;
  right: 0;
  transform: translateY(200px);
  animation: jump-in 3.2s linear 5s forwards, jump 1.2s linear 8.2s infinite;
  will-change: transform;
  cursor: pointer;
}

.mascot__image {
  height: 200px;
  width: auto;
}

.mascot:hover::after {
  content: "Hi, I'm Lulu! \A Welcome to Sphere Beauty—let's shine! ✨";
  white-space: pre;
  display: block;
  position: absolute;
  top: -50px;
  left: -200px;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: black;
  background-color: white;
}

@media only screen and (max-width: 1440px) {
  .section {
    grid-template-columns: repeat(12, 80px);
    column-gap: 24px;
  }
}

@media only screen and (max-width: 1280px) {
  .section {
    grid-template-columns: repeat(12, 65px);
    column-gap: 20px;
  }
}

@media only screen and (max-width: 1024px) {
  .section {
    grid-template-columns: repeat(8, 1fr);
    column-gap: 1.5rem;
    padding: 7.5rem 1.5rem;
  }

  .section__title {
    grid-column: 1 / span 8;
  }

  .section__subtitle {
    grid-column: 1 / span 8;
  }

  .section__name {
    grid-column: 1 / span 8;
  }

  .section__button-wrapper {
    grid-column: 1 / span 8;
  }

  .nav {
    grid-column: 1 / span 8;
  }

  .hero-section {
    padding: 1rem;
  }

  .hero-section__content {
    grid-column: 1 / span 8;
  }

  .approach-section__main-image {
    grid-column: 2 / span 6;
  }

  .approach-section__points {
    grid-column: 1 / span 8;
  }

  .approach-section__gallery {
    grid-column: 1 / span 8;
  }

  .approach-section__images {
    width: 100%;
  }

  .services-section {
    grid-template-columns: repeat(9, 1fr);
  }

  .services-section__title {
    grid-column: 1 / span 9;
  }

  .services-section__service {
    grid-column: span 3;
  }

  .products-section__text {
    grid-column: 1 / span 8;
  }

  .products-section__image {
    grid-column: 1 / span 8;
    grid-row: 2;
  }

  .offers-section__card {
    grid-column: span 4;
  }

  .book-section__content {
    grid-column: 1 / span 8;
  }

  .footer__logo {
    grid-column: 1 / span 8;
  }

  .footer__divider {
    grid-column: 1 / span 8;
  }

  .footer__content {
    grid-column: 1 / span 8;
    grid-row: span 2;
    flex-wrap: wrap;
  }

  .footer__content > div {
    flex: 1 1 0;
  }

  .footer__newsletter {
    grid-column: 1 / span 8;
  }

  .footer__legal {
    grid-column: 1 / span 8;
  }

  .mascot {
    display: none;
  }
}

@media only screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }

  .nav__burger-button-wrapper {
    display: flex;
  }

  .nav__call-wrapper {
    display: flex;
  }

  .nav__button-wrapper {
    display: none;
  }

  .services-section__service {
    grid-column: span 9;
  }

  .footer__form > input {
    width: 100%;
  }
}
